.page.theme_light {
/* colors */
--clr-accent: #ff8dcb;
--clr-active: #353430;
--clr-button: #353430;
--clr-decoration: #353430;
--clr-accent-hover: rgba(50, 49, 45, 0.40);
--clr-button-hover: rgba(50, 49, 45, 0.40);
--clr-text: #353430;
--clr-text-shadow: #ff8dcb;
--clr-title: #ffc2e6;
--clr-title-shadow: #ff0070;
--clr-heading: #353430;
--clr-bck: #ffeef6;

/* background image */
--img-bck: url(../images/cover-image-light.png);

/* hide or show element */
--visibility: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
      /* colors */
    --clr-accent: #ff8dcb;
    --clr-active: #353430;
    --clr-button: #353430;
    --clr-decoration: #353430;
    --clr-accent-hover: rgba(50, 49, 45, 0.40);
    --clr-button-hover: rgba(50, 49, 45, 0.40);
    --clr-text: #353430;
    --clr-text-shadow: #ff8dcb;
    --clr-title: #ffc2e6;
    --clr-title-shadow: #ff0070;
    --clr-heading: #353430;
    --clr-bck: #ffeef6;

    /* background image */
    --img-bck: url(../images/cover-image-light.png);

    /* hide or show element */
    --visibility: hidden;
  }
}
