.page.theme_light {
/* colors */
--color-accent: #ff8dcb;
--color-accent-menu: #353430;
--color-article-header: #353430;
--color-active: #353430;
--color-button: #353430;
--color-decoration: #353430;
--color-accent-hover: rgba(50, 49, 45, 0.40);
--color-button-hover: rgba(50, 49, 45, 0.40);
--color-text: #353430;
--color-text-shadow: #ff8dcb;
--color-title: #ffc2e6;
--color-title-shadow: #ff0070;
--color-heading: #353430;
--color-background: #fff1f7;

/* background image */
--img-background: url(../images/cover-image-light.png);

/* hide or show element */
--visibility: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
      /* colors */
    --color-accent: #ff8dcb;
    --color-accent-menu: #353430;
    --color-article-header: #353430;
    --color-active: #353430;
    --color-button: #353430;
    --color-decoration: #353430;
    --color-accent-hover: rgba(50, 49, 45, 0.40);
    --color-button-hover: rgba(50, 49, 45, 0.40);
    --color-text: #353430;
    --color-text-shadow: #ff8dcb;
    --color-title: #ffc2e6;
    --color-title-shadow: #ff0070;
    --color-heading: #353430;
    --color-background: #fff1f7;

    /* background image */
    --img-background: url(../images/cover-image-light.png);

    /* hide or show element */
    --visibility: hidden;
  }
}
