/* MAIN BODY STYLES */

.page {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--size-default);
  line-height: 130%;
  color: var(--color-text);
  background-color: var(--color-background);
  background-image: var(--img-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

/* START HEADER STYLES */

.header {
  min-height: 668px;
  height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
}

/* decoration */

.decorated-zone {
  position: relative;
}

.decorated-rec {
  visibility: var(--visibility);
  position: absolute;
  color: var(--color-decoration);
  text-transform: uppercase;
  inset-block-start: 11px;
  inset-inline-end: 38px;
}

.decorated-rec::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-decoration);
  box-shadow: 0px 0px 4px 4px var(--color-decoration);
  inset-block-start: 9px;
  inset-inline-end: -18px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--color-decoration);
  border-block-start: 1px solid var(--color-decoration);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--color-decoration);
  border-block-end: 1px solid var(--color-decoration);
}

/* start menu button styles */

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  list-style-type: none;
}

.header__theme-menu-button {
  font-size: var(--size-default);
  color: var(--color-button);
  line-height: normal;
  background: none;
  padding: 2px 13px;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-accent-menu);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-active);
  pointer-events: none;
}

/* end menu button styles */

.header__title {
  color: var(--color-title);
  font-size: var(--size-main-title);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--color-title-shadow);
}

.header__subtitle-text {
  color: var(--color-article-header);
  font-size: var(--size-default);
  background-color: var(--color-accent);
}

/* END HEADER STYLES */

/* START SECTIONS STYLES */

.main {
  margin-top: 1.875rem;
  padding: 10px;
  display: grid;
  gap: 3.125rem;
}

.section {
  display: grid;
  grid-auto-flow: row;
  gap: 1.25rem;
}

.section__article-container {
  display: grid;
  gap: 1.25rem;
}

.section__header {
  color: var(--color-heading);
}

.section__header-subtitle {
  color: var(--color-article-header);
  background-color: var(--color-accent);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.article__header {
  color: var(--color-article-header);
  background-color: var(--color-accent);
}

.article__header-step {
  font-weight: var(--weight-default);
}

/* start link styles */

.article__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--color-text-shadow);
}

.article__link:hover {
 border-bottom: 1px solid var(--color-text);
}

.article__link:focus {
  outline: none;
}

.article__link:focus-visible {
  outline: 1px solid var(--color-text);
}

/* end link styles */

.in-pictures {
  gap: 0.625rem;
}

.pictures-grid {
  display: grid;
  gap: 0.625rem;
}

.pictures-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* END SECTION STYLES */

/* START FOOTER STYLES */

.footer {
  min-height: 668px;
  height: 100vh;
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--color-title);
  font-size: var(--size-main-title);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--color-title-shadow);
}

/* END FOOTER STYLES */

/* START BREAKPOINT STYLES */

@media (width >= 768px) {

  /* page styles */

  :root {
    --size-main-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    padding: 1.25rem;
    margin-top: 2.5rem;
    gap: 5rem;
  }

  /* header styles */

  .header {
    padding: 20px;
  }

  /* decoration styles */

  .decorated-rec {
    inset-block-start: 20px;
    inset-inline-end: 49px;
  }

  .decorated-rec::after {
    inset-block-start: 9px;
    inset-inline-end: -18px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  /* heading styles */

  .header__title {
    justify-self: start;
    margin-left: -1.25rem;
    font-size: var(--size-main-title);
  }

  .header__subtitle-text {
    width: 50%;
  }

  .what .section__header {
    max-width: 30%;
  }

  /* section styles */

  .why,
  .how {
    grid-template-columns: 1fr 2fr;
  }

  .in-pictures {
    gap: 1.25rem;
  }

  .pictures-grid {
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .pictures-grid .sunset {
    grid-area: sunset;
  }

  .pictures-grid .ice-cream {
    grid-area: ice-cream;
  }

  .pictures-grid .tape {
    grid-area: tape;
  }

  .pictures-grid .books {
    grid-area: books;
  }

  .pictures-grid .street {
    grid-area: street;
  }

  .footer {
    margin-top: 2.5rem;
  }

}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .why,
  .how {
    gap: 0.625rem;
  }

  .what .section__article-container {
    grid-template-columns: repeat(3, 1fr);
  }

}


/* END  */
