:root {
/* sizes */
--size-main-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--size-default: 1.125rem; /* 18px */

/* weights */
--weight-default: 400;
--weight-bold: 700;

/* colors */
--color-accent: #ff0070;
--color-accent-menu: #ff0070;
--color-active: #ff0070;
--color-button: #ff0070;
--color-decoration: #ff0070;
--color-accent-hover: rgba(255, 0, 112, 0.40);
--color-button-hover: rgba(255, 0, 112, 0.40);
--color-text: #f1b2ce;
--color-text-shadow: #ff0070;
--color-title: #db00ff;
--color-title-shadow: #ff0070;
--color-heading: #ff0070;
--color-article-header: #000028;
--color-background: #000028;

/* background image */
--img-background: url(../images/cover-image-dark.png);

/* hide or show decorative element */
--visibility: visible;
}
